<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./admin.css">
    <title>Document</title>
    <style>
            header {
                background-color: #333;
                color: #fff;
                padding: 20px;
            }

            nav {
                background-color: #444;
                color: #fff;
                padding: 10px;
            }

            nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            nav li {
                display: inline;
                margin-right: 10px;
            }

            nav a {
                color: #fff;
                text-decoration: none;
            }

            main {
                padding: 20px;
            }

            footer {
                background-color: #333;
                color: #fff;
                padding: 10px;
                text-align: center;
            }

    </style>
</head>
<body>
    <!DOCTYPE html>
<html>
<head>
	<title>Trang chủ Admin</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<h1>Trang quản trị</h1>
	</header>
	<nav>
		<ul>
			<li><a href="user/getAllUser">Quản lí Người dùng</a></li>
			<li><a href="#">Quản lí Sản phẩm</a></li>
			<li><a href="#">Quản lí Bình luận</a></li>
            <li><a href="#">Quản lí Hoá đơn</a></li>
		</ul>
	</nav>
	<main>
		<h2>Trang chủ Admin</h2>
		<p>Chào mừng đến với trang quản trị của chúng tôi</p>
	</main>
	<footer>
		<p>Bản quyền © 2023, tất cả các quyền được bảo lưu.</p>
	</footer>
</body>
</html>

</body>
</html>